.custom{
    height: 1650px;
    background-image:url('../../assets/Images/Custom_back.png') ;
    background-position: center;
    background-repeat: no-repeat;
}
.container
{
    height:100%;
    width:100%;
    max-width: 1440px;
    margin:0 auto;
}
.title{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 65px;
}
.wrapper{
    display: flex;
    justify-content: space-between; 
    padding-top: 100px;
}
.n1{
    margin: auto;
    max-width: 1000px;
}
.n2{
    max-width: 1400px;
}

.moreIcon{
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}
.M{
    text-align: center;
}