.tabs {
    width: 470px;
    background: #1C1C1C;
    border-radius: 13.5px;
  }
.activeTab  {
    background: #414141;
    border-radius: 13.5px;
  }
.title{
    text-align: start;
    font-weight: 400;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 0.5;
}
.activeTitle{
    text-align: start;
    font-weight: 400;
    font-size: 25px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 1;
}






.content {
  padding: 20px;
  width: 915px;
  height: 815px;
  display: none;
}
.img{
  width: 915px;
  height: 815px;
  border-radius: 13.5px;  
}
.activeContent {
  display: block;
}