.container{
    display: flex;
  }  
  .tabs {
      width: 470px;
      background: #1C1C1C;
      border-radius: 13.5px;
    }
  .block{
      display: flex;
      flex-direction: column;
  }
  .title{
      text-align: start;
      font-weight: 400;
      font-size: 25px;
      font-weight: 400;
      color: #FFFFFF;
      opacity: 0.5;
  }
  .activeTitle{
      text-align: start;
      font-weight: 400;
      font-size: 25px;
      font-weight: 400;
      color: #FFFFFF;
      opacity: 1;
  }
    .activeTab  {
      background: #414141;
      border-radius: 13.5px;
    }
    
    .active-tabs::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      background: rgb(88, 147, 241);
    }
    
    
    
    button {
      border: none;
      
    }
    .contentTabs {
      flex-grow : 1;
    }
    .content {
      padding: 20px;
      width: 915px;
      height: 815px;
      display: none;
    }
    .img{
      width: 915px;
      height: 815px;
      border-radius: 13.5px;  
    }
    .activeContent {
      display: block;
    }