.container{
    display: flex;
  }  

  .block{
      display: flex;
      flex-direction: column;
  }
  
    .active-tabs::before {
      content: "";
      display: block;
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% + 2px);
      height: 5px;
      background: rgb(88, 147, 241);
    }
    
    
    
    button {
      border: none;
      
    }
    .contentTabs {
      flex-grow : 1;
    }
