.container{
    height:100%;
    width:100%;
    max-width: 1440px;
    margin:0 auto;
}
.Table{
    width: 100%;
    height: 900px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    
table {
    border: 2px solid black;
    width: 1200px;
    border-collapse:collapse
  }
    
  th {
    background-color:dimgray;
    border-bottom: 1px solid black;
    font-size: 20px;
    
  }
  td {
    height: 50px;
    font-size: 20px;
    text-align: center;
  }
  .btn {
    height: 30px;
    width: 70px;
    background-color: darkred;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
  }
  .btnAdd{
    height: 30px;
    width: 60px;
    background-color: rgb(81, 150, 75);
    border: 1px solid black;
    border-radius: 4px;
    color: white;
  }
  .even{
    background-color:rgb(209, 209, 209);
  }