.elem{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 55px;
    border-radius: 6.5px;
}
.light{
    background-color: white;
    border: 1.5px solid #EBEBEB; 
}
.dark{
    background-color: var(--bg-dark);
    border:1.5px solid #222020;
}

.arrow{
    margin-right: 25px;
    width: 10px;
    height: 10px;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    transform: rotate(-135deg);
}
.texts{
    padding-left: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
